<h2>Hello {{name}}</h2>
<button id="button_load">Загрузить таблицу</button>
<button id="button_ins">Добавить запись</button>
<div id="resize_advert" class="insui-resizable" style="margin-top:20px;height:300px;border:1px solid #ccc;">
    <table id="table_users" class="insui-datagrid" style="height:100%;"></table>
</div>